*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.top-table tr {
  font-size: 30px;
  background-color: black;
  color: white;
}

.top-table:hover {
  opacity: 0.7;
}

.top-table td {
  width: 33%;
  border: 5px solid white;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.top-table td:hover {
  background-color: white;
  color: black;
}

.top-table img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.bottom-table {
  border: 10px solid black;
  width: 100%;
  position:absolute;
  bottom:0;
}

.bottom-table tr:hover {
  background-color: gray;
}

.bottom-table td {
  font-size: 20px;
  border: 5px solid gray;
  text-align: center;
}

.bottom-table img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
